.pr-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.pr-link:hover{
    color: #50C1F5;
    font-weight: bold;
}

.item-content{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #d4ebf2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*padding: 15px;*/
    position: relative;
    /*width: 400px;*/
    width: wrap;
    padding: 10px 20px;
    max-width: 250px;
    text-align: right;

    transition: all .2s ease-in-out;
}

.item-content:hover{
    transform: scale(1.1);
}