.logo-img{
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

.menu-item{
    margin-right: 20px;
    color: white;
    outline: none;
    text-decoration: none;
}

.menu-text:hover{
    color: rgb(204, 197, 197);
}

.menu-item:hover{
    text-decoration: none;
}

/* make the burger invisible and the menu items visible */
@media only screen and (min-width: 820px){
    .menu-burger{
        display: none;
    }
}

/* make the burger visible and menu items invisible */
@media only screen and (max-width: 820px){
    .menu-burger{
        display: inline-block;
    }

    .menu-items{
        display: none;
    }
}