/*Style Sheet for the tutorial page*/

#tutorial-banner{
    background-image: url("../../images/space5.jpg");
    padding-top: 12rem;
    padding-bottom: 3rem;
}

#tutorial-banner h2{
    font-size:40px;
    color: white;
}