.pr-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.pr-link:hover{
    color: #50C1F5;
    font-weight: bold;
}

.user-container {
    display: flex;
    flex-direction: row;
}

.profile-pic {
    border-radius: 5px;
}

.right-pic {
    margin-left: 10px;
}

.left-pic {
    margin-right: 10px;
}

/* to add box shadow: 0 0 5px rgba(0, 0, 0, 0.3) */
.item-content{
    box-shadow: none;
    border-radius: 20px;
    background-color: #d4ebf2;
    display: flex;
    flex-direction: column;
    position: relative;
    width: wrap;
    padding: 10px 30px;
    /* Change max-width to change the width of the timeline cards*/
    max-width: 300px;

    transition: all .2s ease-in-out;
}

.right-card {
    text-align: right;

}

.left-card {
    text-align: left;
}

.item-content:hover{
    transform: scale(0.95);
}