.contact-container{
    padding-top: 100px;
}

.firstTitle{
    font-size: 30px;
    text-align: center;
    padding: 10px
}



@media screen and (max-width: 400px){
    .contact-container{
        padding-top: 10px;
    }
    .firstTitle{
        font-size: 20px;
    }
}