.vert-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vert-centered-text {
    text-align: center;
}

.hacktoberfest-container {
    width: 100%;
}

.hacktoberfest-header-text {
    padding: 20px 200px;
    width: 100%;
}

.body-content {
    display: flex;
    flex-direction: /*row*/ column;
    margin-top: 20px;
    margin-bottom: 150px;
    width: 100%;
}

.title-text {
    font-size: 25px;
    padding-top: 20px;
}

.desc-text {
    font-size: 18px;
}

.events {
    width: /*75%*/ 100%;
}

.events-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.event-card {
    margin: 15px;
}

.faq {
    width: 40%;
}

.faq-question {
    font-weight: bold;
    margin-top: 40px;
    font-size: 20px;
}

.faq-answer {
    font-size: 16px;
}

.icon-faq-container {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 60px;
    height: 60px;
    margin-right: 25px;
    margin-top: 40px;
}