.vert-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hacktoberfest-container {
    width: 100%;
}

.hacktoberfest-header-text {
    padding: 0;
    width: 100%;
}

.body-content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
}

.events {
    width: 66%;
}

.events-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.event-card {
    margin: 20px;
}

.resources {
    width: auto;
}