
.firstHeader {
  display: flex;
  /*justify-content: center;*/
}

.resources {
  padding: 0 50px;
}

.orgs{
  transition: all .3s ease-in-out;
  padding-bottom: 20px;
}

.org-img{
  margin: 5px 20px;
}

.org-img:hover{
  transform: scale(0.95);
}

.events-btn-container{
  margin-top: 30px;
}

.home-container{
  overflow-x: hidden;
}

.subsection {
  padding-top: 1.5rem;
  padding: 20px;
  /*background: #642c2c;*/
  height: auto;
  min-height: 380px;
}
.rightsection {
 /* background: rgb(135, 135, 190);*/
 /* margin-left: 1.5rem;*/
}
.timeline {
  padding: 1.5rem;
  border: 2px solid rgb(166, 184, 223);
  margin-top: 2rem;
  margin-right: 2rem !important;
  border-radius: 25px;
  /*padding-right: 2.5rem !important;*/
}
.gridHeaders {
  font-weight: 500;
}