/* CSS file for home.js only */

.container{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #314858;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: #314858;
    
}

.image-header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img{
    animation: mover 1s infinite alternate;
    float: right;
    z-index: 1;
    
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
    width: 100%;
}

#home-timeline-container {
    width: 75%;
    padding: 0px 50px 50px 50px;
    text-align: center;
}

.header-text{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10vw;
}

#header-title{
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    z-index: 1;
}

#header-desc{
    color: white;
    z-index: 1;
}

#about{
    width: 75%;
    padding: 10px 100px 0px 100px;
}

.sub-text{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.text-with-icon {
    margin-top: 10px;
}

.home-icon-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.home-icon {
    width: 60px;
    height: 60px;
    margin-right: 25px;
    margin-top: 10px;
}

.section-title{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.get-involved-title {
    font-size: 20px;
}

.star{
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 90px;
    position: absolute;
    box-shadow: 0px 0px 10px 0px #ccc;
}

@keyframes twinkling{
    0%{ background-color: #ffffff;     box-shadow: 0px 0px 5px 0px #ccc;  }
	49%{ background-color: transparent;     box-shadow: none;    }
	50%{ background-color: transparent; box-shadow: none; }
	99%{ background-color:transparent; box-shadow: none; }
	100%{ background-color: #ffffff;     box-shadow: 0px 0px 5px 0px #ccc;    }
}

@keyframes slow-twinkling{
    0%{ background-color: #ffffff;     box-shadow: 0px 0px 5px 0px #ccc;  }
	49%{ background-color: transparent;     box-shadow: none;    }
	50%{ background-color: transparent; box-shadow: none; }
	70%{ background-color:transparent; box-shadow: none; }
	100%{ background-color: #ffffff;     box-shadow: 0px 0px 5px 0px #ccc;    }
}

@keyframes med-twinkling{
    0%{ background-color: #ffffff;     box-shadow: 0px 0px 5px 0px #ccc;  }
	49%{ background-color: transparent;     box-shadow: none;    }
	50%{ background-color: transparent; box-shadow: none; }
	85%{ background-color:transparent; box-shadow: none; }
	100%{ background-color: #ffffff;     box-shadow: 0px 0px 5px 0px #ccc;    }
}

#star-1{
    top: 10vh;
    left: 20vw;
    /* twinkling animation */
    animation: twinkling 2s infinite;
}

#star-2{
    top: 15vh;
    left: 60vw;
    width: 2px;
    height: 2px;
    /* twinkling animation */
    animation: med-twinkling 1.5s infinite;
}

#star-3{
    top: 80vh;
    left: 10vw;
    /* twinkling animation */
    animation: twinkling 2.5s infinite;
}

#star-4{
    top: 40vh;
    left: 35vw;
    width: 4px;
    height: 4px;
    /* twinkling animation */
    animation: twinkling 2.3s infinite;
}

#star-5{
    top: 70vh;
    left: 80vw;
    width: 2px;
    height: 2px;
    /* twinkling animation */
    animation: slow-twinkling 2.3s infinite;
}

#star-6{
    top: 45vh;
    left: 90vw;
    width: 6px;
    height: 6px;
    /* twinkling animation */
    animation: twinkling 2.7s infinite;
}

#star-7{
    top: 65vh;
    left: 40vw;
    width: 3px;
    height: 3px;
    /* twinkling animation */
    animation: twinkling 2.1s infinite;
}

#star-8{
    top: 90vh;
    left: 25vw;
     /* twinkling animation */
     animation: slow-twinkling 2.1s infinite;
}

#star-9{
    top: 75vh;
    left: 60vw;
     /* twinkling animation */
     animation: med-twinkling 1.8s infinite;
}

#star-10{
    top: 10vh;
    left: 10vw;
     /* twinkling animation */
     animation: twinkling 1.8s infinite;
}

#star-11{
    top: 5vh;
    left: 12vw;
     /* twinkling animation */
     animation: med-twinkling 1.8s infinite;
}

#star-12{
    top: 16vh;
    left: 5vw;
     /* twinkling animation */
     animation: med-twinkling 1.8s infinite;
}


@media only screen and (min-width: 1500px) {
    /* with large enough screen size, increase font size of header*/
    #header-title{
        font-size: 65px;
    }
}

.styleText fieldset{
    border-radius: 35px;
}