.vert-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vert-centered-text {
    text-align: center;
}

.wp-container {
    width: 100%;
}

.wp-header-img {
    margin-bottom: 20px;
}

.wp-header-text {
    padding: 0px 200px;
    width: 100%;
    margin-top: 20px;
}

.wp-body-content {
    display: flex;
    flex-direction: column;
    /*margin-top: 20px;*/
    margin-bottom: 150px;
    width: 100%;
}

.wp-title-text {
    font-size: 25px;
    padding-top: 20px;
    font-weight: bold;
}

.wp-subtitle-text {
    font-size: 20px;
}

.wp-desc-text {
    font-size: 18px;
}

.left-header {
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 30px;
    text-align: right;
    width: 100%;
}

.wp-resources-container {
    display: flex;
    flex-direction: row;
    margin: 15px 80px;
}

.right-desc {
    text-align: left;
}

.events {
    width: /*75%*/ 100%;
}

.faq {
    width: 40%;
}

.faq-question {
    font-weight: bold;
    margin-top: 40px;
    font-size: 20px;
}

.faq-answer {
    font-size: 16px;
}

.icon-faq-container {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 60px;
    height: 60px;
    margin-right: 25px;
    margin-top: 40px;
}
